<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	  <!-- for google ad -->
		<string>kindle</string>
		<string>itms-books</string>

	  <!-- for qq -->
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		
	  <!-- for qzone -->
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>

	  <!-- for wechat -->
		<string>weixin</string>
		<string>wechat</string>
		
	  <!-- for taobao app -->
		<string>taobaohd</string>
		<string>taobao</string>
		
	  <!-- for alipay -->
		<string>alipay</string>
		<string>alipayshare</string>
		
	  <!-- for sina weibo -->
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		
	  <!-- for tencentWeibo -->
		<string>TencentWeibo</string>
		<string>tencentweiboSdkv2</string>

	  <!-- for facebook -->
		<string>fbauth2</string>

	  <!-- for 易信 -->
		<string>yixin</string>
		<string>yixinopenapi</string>
		
	  <!-- for google+ -->
		<string>googlechrome</string> 
		<string>googlechrome-x-callback</string>
		<string>hasgplus4</string>
		<string>com.google.gppconsent</string>
		<string>com.google.gppconsent.2.2.0</string>
		<string>com.google.gppconsent.2.3.0</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.google.gppconsent.2.4.1</string>		
		
	  <!-- for renren -->
		<string>renrenapi</string>
		<string>renrenios</string>
		<string>renreniphone</string>
		<string>renren</string>

	  <!-- for pocket -->
		<string>pocket-oauth-v1</string>
	  <!-- for Pinterest -->
		<string>pinit</string>
	  <!-- for instagram -->
		<string>instagram</string>
	  <!-- for whatsapp -->
		<string>whatsapp</string>
	  <!-- for line -->
		<string>line</string>
	  <!-- for kakaolink -->
		<string>kakaolink</string>
	  <!-- for KaokaoStory -->
		<string>storylink</string>
	</array>
</dict>
</plist>
